@{
    ViewBag.Title = "Welcome";
}

<div class="main">
    <div class="container">
        <div class="logo">
            <br /><br />
            <img src="../img/logo.png" class="logo_img">
            <div class="logo_text">Property Rental Management</div>
        </div>
        <br /><br />
        <h1 class="title">About our company</h1>
        <br />
        <div class="main_text">
            Our passion is providing our customers with a place to call home.
            Every day we help our residents and teenants to find the right home for themselves and their families.
            It starts with creating a neigbourhood where people want to live, work and play.
        </div>
        @*<form id="form">
                <input type="search" id="query" name="q" placeholder="Search..." />
                <button>Go</button>
            </form>*@
        @*<div class="row">
                <div class="span4 text-center">
                    <a href="#" class="btn btn-primary btn-lg">User login</a></p>
                </div>
            </div>*@
        <br /><br />< br />
        <div class="row">
            <div class="col-md-4">
                <a href="@Url.Action("Index", "Apartments1")" class="btn btn-primary btn-lg">Search for apartment</a>
            </div>

            @*<div class="col-md-4">
                <a href="@Url.Action("Index", "Tenants")" class="btn btn-primary btn-lg">User Login</a>
            </div>

            <div class="col-md-4">
                <a href="@Url.Action("Index", "RegisterNewUser")" class="btn btn-primary btn-lg">Register</a>
            </div>*@
        </div>
    </div>
</div>